<div class="nav-container">
    <nav class="navbar">
        <div class="navbar-brand">Library Management System</div>
        <ul class="navbar-menu">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            @if (isLibrarian) {
                <li><a routerLink="/librarian" routerLinkActive="active">Librarian Details</a></li>
            }
            @if (isAdmin) {
                <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            }
        </ul>
        <div class="header-actions">
            <button class="profile-circle-btn" routerLink="/profile" title="Profilul meu">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="user-icon">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
            </svg>
            </button>
        </div>
    </nav>
</div>
