// Cozy Library Theme Variables
:root, .theme-default {
  --primary-bg-color: #fdfaf6;       
  --secondary-bg-color: #b36a5e;   
  --card-bg: #ffffff;                
  --primary-text-color: #5d4037;     
  --secondary-text-color: #fdfaf6;  
  --accent: #dcd1be;                
  --border-color: #f1ece4;           
}